<form id="FormCreateTecnico">
<div class="input-group mb-3">
  <input type="text" name="NOMBRETECNICO" class="form-control" placeholder="Nombre Usuario" aria-label="Username">
  <span class="input-group-text">@</span>
  <input type="email" name="CORREOTECNICO" class="form-control" placeholder="Correo Usuario" aria-label="Server">
   <span class="input-group-text">@</span>
  <input type="password" name="PASSWORD" class="form-control" placeholder="Contraseña " aria-label="Server">
  <span class="input-group-text">@</span>
  <input type="password" name="PASSWORD2" class="form-control" placeholder="Confirme Contraseña" aria-label="Server">
</div>
<div class="input-group mb-3">
 
  <span class="input-group-text">@</span>
  <select class="form-select" name="PERFIL" aria-label="Default select example">
    
  <option selected>Seleccione perfil</option>
  <option value="Administrador">Administrador</option>
  <option value="Superadministrador">Superadministrador</option>
</select>
</div>
<button type="submit" class="btn btn-success">Registrar</button>
</form>
<script src="/js/tecnicos/create.js"></script>