<form id="createUser">
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">ID Ticket</label>
    <input type="number" name="id" class="form-control" id="exampleFormControlInput1" placeholder="0-1000...">
    </div>
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Descripcion del estado</label>
    <input type="text" name="descripcion" class="form-control" id="exampleFormControlInput1" placeholder="Recibido, Pendiente, Cancelado, Trabajando... (Maximo 30 letras)">
    </div>
    <button type="submit" class="btn btn-primary">Crear nuevo estado ticket</button>
</form>

<script src="/js/estadoTicketcreate/create.js"></script>