<div class="row">
    {{#each estados}}
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{this.ID_ESTADO}}</h5>
        <p class="card-text">{{this.ID_TICKET}}</p>
        <p class="card-text">{{this.ESTADO}}</p>
        <a href="#" class="btn btn-primary">si me presionas te ganas un dulce</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>

