
<h2 id="createTicketMessage"></h2>
<form id="createTicket">
    
    <!-- Categoría del Ticket -->
    <div class="mb-3">
        <label for="category" class="form-label">Seleccionar categoría</label>
        <select class="form-select" id="category" name="ASUNTO">
            <option value="" disabled selected>Elige una opción</option>
            <option value="hardware">Hardware - Relacionado con componentes físicos</option>
            <option value="software">Software - Relacionado con programas y aplicaciones</option>
            <option value="ofimatica">Ofimática - Relacionado con herramientas de oficina</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="subject" class="form-label">Correo</label>
        <input type="email" name="CORREOUSUARIO" class="form-control" id="subject" placeholder="Escriba su correo electronico" required>
    </div>

    <!-- Descripción del Ticket -->
    <div class="mb-3">
        <label for="description" class="form-label">Descripción</label>
        <textarea class="form-control" name="DESCRIPCION" rows="3" placeholder="Escribe una descripción detallada del problema" required></textarea>
    </div>

     <!-- Botón para Enviar el Ticket -->
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Enviar ticket</button>
    </div>
</form>
<script src="/js/ticket/create.js"></script>