<div class="row">

    <div class="col-sm-3">
		<div class="card">
            <div class="card-body p-1">
                <p class="card-text m-1">USUARIO: ${o.NOMBREUSUARIO}</p>
                <p class="card-text m-1">TECNICO: ${o.NOMBRETECNICO}</p>
                <h5 class="card-title m-1">${o.ASUNTO}</h5>
                <p class="card-text m-1">${o.DESCRIPCION}</p>
                <p class="card-text m-1">${o.FECHATICKET}</p>
                <button type="button" class="btn btn-primary btnTicketTecnico m-1">Primary</button>
            </div>
	  	</div>
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
   
</div>
<script src="/js/ticket/dataTickets.js"></script>