
<h2 id="createUsermje"></h2>
<form id="createUser">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Area</label>
        <input type="text" name="AREA" class="form-control" placeholder="name@example.com">
    </div>
     <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Correo</label>
        <input type="email" name="CORREOUSUARIO" class="form-control" placeholder="name@example.com">
    </div>
         <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="text" name="NOMBREUSUARIO" class="form-control" placeholder="name@example.com">
    </div>
     <button type="submit" class="btn btn-primary">Nuevo Usuario</button>
</form>
<script src="/js/usuarios/create.js"></script>